{% extends 'base.html'  %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="user-form">
<h1 class="display-1">Login</h1>

<form class="p-2 w-25" method="POST">

    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <p class="form-text text-danger">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn user-btn-2" type="submit">Login</button>
</form>
</div>
{% endblock %}